.mainNav {
  display: none;

  @media (min-width: $desktopView) {
    display: block;
  }
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 0 17px;
  }

  &__link {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 17px 0;
    transition: color 0.2s ease-in;

    &:hover {
      color: #b3b3b3;
    }

    &--active {
      color: #b3b3b3;
    }
  }
}
