$primaryColor: #2b2b2b;
$secondaryColor: #a07eb5;
$thirdColor: #7d1eff;
$fancyColor: #994fff;
$secondaryFontColor: #b2b3bf;
$subHeadingColor: #aca3ba;
$textColor: #3f3849;
$textLightGray: #a1a1a1;
$dotColor: #b47eff;

$desktopView: 1024px;
