*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  @media (min-width: $desktop) {
    overflow: hidden;
  }
}

img {
  width: 100%;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}
